<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="Keywords" content=""/>
		<meta name="Description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="assets/plug/bootstrap-3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/plug/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
        <link rel="stylesheet" href="assets/style/index.min.css">
        <link rel="stylesheet" media="screen and (max-width: 720px)" href="assets/style/mobile.css">
        <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_spm7nssce1xlxr.css"/>
        <style>
        	.search-time .form-control {
        		border-radius: 0px;
        	}
        	.search-time .form-control{
        	    border-color: #ccc;
			    outline: 0;
			    -webkit-box-shadow: inherit;
			    box-shadow: inherit;
        	}
        </style>	
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <a href="">
                        <i class="iconfont">&#xe631;</i>
                        <span>商家中心</span>
                    </a>
                </div>
                <div class="col-xs-6 menu-mobile">
                  <a href="javascript: void(0);" class="header-menu-mobile">
                    <i class="iconfont">&#xe646;</i>
                  </a>
                </div>
                <div class="col-md-4">
                    <div class="user-info">
                        <div class="btn-group">
                          <button type="button" id="userName" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            james <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">退出</a></li>
                          </ul>
                        </div>

                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="搜索订单">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                          </span>
                        </div><!-- /input-group -->

                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="menu" id="menu">
                <ul class="sidenav-menu">
        	      <li class="index">
        	        <a href="javascript:;" data-href="index.html"><i class="iconfont">&#xe60f;</i>首页</a>
        	      </li>
        	      <li>
        	        <a href="javascript:;">
        	          <span class=""><i class="iconfont">&#xe66f;</i>订单</span>
                      <i class="iconfont drop data-sidenav-dropdown-icon" data-sidenav-dropdown-icon>&#xe72a;</i>
                      <i class="iconfont drop data-sidenav-dropdown-icon show" data-sidenav-dropdown-icon>&#xe605;</i>
        	        </a>
                    <ul class="sidenav-dropdown">
        	          <li><a href="javascript:;" data-href="order.html">订单处理</a></li>
        	          <li><a href="javascript:;" data-href="order-search.html">订单查询</a></li>
        	        </ul>
        	      </li>
        	      <li>
        	        <a href="javascript:;" data-href="help.html">
        	          <span class=""><i class="iconfont">&#xe601;</i>帮助</span>
        	        </a>
        	      </li>
        	       <li>
        	        <a href="javascript:;" data-href="login.html">
        	          <span class=""><i class="iconfont">&#xe609;</i>退出</span>
        	        </a>
        	      </li>
        	    </ul>
            </div>
            <div class="left-full">
                <div class="container-fluid order-num" id="order-num">
                		<div class="search-time">
                			<h5>时间搜索</h5>
                			<input id="datetimepicker" class="form-control pc-control" data-date-format="yyyy-mm-dd" placeholder="时间" type="" name="" id="" value="" />
                			<input @change="dateChange"  v-model="mobileDate" :value="defaultsValue" class="form-control mobile-control" type="date" name="" id="" value="" />
                		</div>
                		<div class="scroll-num">
                			<div class="row text-center allNum">
							<div class="title">
								<h4>今日订单总览</h4></div>
							<div class="col-md-6">
								<h3 class="timer count-number-to"   >{{successOrderNumber}}</h3>
								<p>成功订单数量</p>
							</div>
							<div class="col-md-6">
								<h3 class="timer count-number"   >{{successOrderPrice}}</h3>
								<p>成功订单总额</p>
							</div>
							
						</div>
						<div v-for="item in items" class="row text-center store">
							<div class="title " v-bind:class="item.platformType"><span><i class="iconfont" :class="platformTypes[item.platformType]"></i></span>
								<h4>{{item.storeName}} <label for="">（ {{platformStr[item.platformType]}} ）</label></h4> </div>
							<div class="col-md-3">
								<h3 class="timer count-number-to"   >{{item.successOrderNum}}</h3>
								<p>成功订单数量</p>
							</div>
							<div class="col-md-3">
								<h3 class="timer count-number"  >{{item.successOrderAmount}}</h3>
								<p>成功订单总额</p>
							</div>
							<div class="col-md-3">
								<h3  class="timer count-number-to"  >{{item.failOrderNum}}</h3>
								<p>失败订单数</p>
							</div>
							<div class="col-md-3">
								<h3  class="timer count-number"  >{{item.failOrderAmount}}</h3>
								<p>失败订单总额</p>
							</div>
						</div>
						
                		</div>
                </div>
            </div>
        </div>
        <div class="mask-mobile"></div>
        <script src="assets/plug/jquery/jquery-2.2.4.js" charset="utf-8"></script>
        <script src="assets/plug/bootstrap-3.3.0/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="assets/plug/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="assets/plug/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="assets/javascript/index.js" charset="utf-8"></script>
        <script src="assets/plug/jq-size/jq-size.js" type="text/javascript" charset="utf-8"></script>
        <script src="assets/plug/template/vue.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="assets/javascript/home.js" charset="utf-8"></script>
        <script type="text/javascript">
        		$("#menu").sidenav();
        </script>
    </body>
</html>
